:root {
  --black: 13 13 13;
  --gray: 204, 204, 204;
  --neon-green: 57, 255, 20;
  --neon-pink: 255, 20, 147;
  --neon-violet: 194, 157, 227;

  --color-background: var(--black);
  --color-primary: var(--neon-pink);
  --color-secondary: var(--neon-violet);
  --color-on-background: var(--neon-green);
  --color-on-primary: var(--gray);
  --color-on-secondary: var(--gray);
}

body {
  background: rgb(var(--color-background));
  color: rgb(var(--color-on-background));
}

.button {
  color: rgb(var(--color-primary));
  border: 1px dashed;
  border-radius: 8px;
  padding: 16px;
}

.button:hover {
  background: rgb(var(--color-primary));
  border: 1px solid rgb(var(--color-primary));
  color: rgb(var(--color-on-primary));
}

.text-accent {
  color: rgb(var(--color-secondary));
}
