@font-face {
  font-family: "JetBrains Mono";
  src:
    local("JetBrains Mono"),
    url("../fonts/JetBrainsMono[wght].woff2") format("woff2");
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src:
    local("JetBrains Mono"),
    url("../fonts/JetBrainsMono-Italic[wght].woff2") format("woff2");
  font-weight: 100 800;
  font-style: italic;
  font-display: swap;
}

html {
  font-family: "JetBrains Mono", Consolas, monospace;
}
