/*
reset styles
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
}

#root,
#__next {
  isolation: isolate;
}

/*
font styles
 */
@font-face {
  font-family: "JetBrains Mono";
  src:
    local("JetBrains Mono"),
    url("../fonts/JetBrainsMono[wght].woff2") format("woff2");
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src:
    local("JetBrains Mono"),
    url("../fonts/JetBrainsMono-Italic[wght].woff2") format("woff2");
  font-weight: 100 800;
  font-style: italic;
  font-display: swap;
}

html {
  font-family: "JetBrains Mono", Consolas, monospace;
}

/*
theme styles
 */
:root {
  --smoky-black: 13 13 13;
  --gray: 204 204 204;
  --neon-green: 57 255 20;
  --neon-pink: 255 20 147;
  --neon-violet: 194 157 227;

  --color-background: var(--smoky-black);
  --color-primary: var(--neon-pink);
  --color-secondary: var(--neon-violet);
  --color-on-background: var(--neon-green);
  --color-on-primary: var(--gray);
  --color-on-secondary: var(--gray);
}

body {
  background: rgb(var(--color-background));
  color: rgb(var(--color-on-background));
}

.button {
  color: rgb(var(--color-primary));
  border: 1px dashed;
  border-radius: 8px;
  padding: 16px;
}

.button:hover {
  background: rgb(var(--color-primary));
  border: 1px solid rgb(var(--color-primary));
  color: rgb(var(--color-on-primary));
}

.text-accent {
  color: rgb(var(--color-secondary));
}

/*
mask styles
 */
.screen-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  pointer-events: none;
}

.screen-mask * {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.constant-flicker {
  background: rgb(var(--color-background) / 0.2);
  animation: constant-flicker 0.15s infinite linear;
}

.temporal-flicker {
  background: rgb(var(--color-background));
  animation: temporal-flicker 4s infinite linear;
}

.gradient-slider {
  height: 10svh;
  background: linear-gradient(
    0deg,
    transparent 5%,
    rgb(var(--color-background) / 0.5) 40%,
    rgb(var(--color-background)) 50%,
    rgb(var(--color-background) / 0.5) 60%,
    transparent 95%
  );
  transform: translateY(-100%);
  animation: gradient-slider 8s infinite linear;
}

@keyframes gradient-slider {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }
  20% {
    transform: translateY(-100%);
    opacity: 1;
  }
  80% {
    transform: translateY(100lvh);
    opacity: 1;
  }
  100% {
    transform: translateY(100lvh);
    opacity: 1;
  }
}

@keyframes temporal-flicker {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  67% {
    background: rgb(var(--color-background));
    opacity: 0.4;
  }
  68% {
    opacity: 0;
  }
  69% {
    background: rgb(var(--color-background));
    opacity: 0.4;
  }
  70% {
    opacity: 0;
  }
  71% {
    background: rgb(var(--color-background));
    opacity: 0.4;
  }
  72% {
    opacity: 0;
  }
  82% {
    opacity: 0;
  }
  83% {
    background: rgb(var(--color-background));
    opacity: 0.4;
  }
  84% {
    opacity: 0;
  }
  85% {
    background: rgb(var(--color-background));
    opacity: 0.4;
  }
  86% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes constant-flicker {
  0% {
    opacity: 0.72071;
  }
  5% {
    opacity: 0.26725;
  }
  10% {
    opacity: 0.1328;
  }
  15% {
    opacity: 0.40483;
  }
  20% {
    opacity: 0.87365;
  }
  25% {
    opacity: 0.78326;
  }
  30% {
    opacity: 0.85186;
  }
  35% {
    opacity: 0.43945;
  }
  40% {
    opacity: 0.11494;
  }
  45% {
    opacity: 0.50345;
  }
  50% {
    opacity: 0.43804;
  }
  55% {
    opacity: 0.44429;
  }
  60% {
    opacity: 0.94031;
  }
  65% {
    opacity: 0.97411;
  }
  70% {
    opacity: 0.43277;
  }
  75% {
    opacity: 0.71216;
  }
  80% {
    opacity: 0.89265;
  }
  85% {
    opacity: 0.89044;
  }
  90% {
    opacity: 0.94415;
  }
  95% {
    opacity: 0.7916;
  }
  100% {
    opacity: 0.99959;
  }
}

/*
eye styles
 */
.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100dvh;
}

.hero {
  padding: 60px 0 0 0;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.bottom-bar {
  border-top: calc(1px / 2) solid;
  padding: 4px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: clip;
  pointer-events: none;
}

.eye {
  pointer-events: auto;
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: clip;

  cursor: grab;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: rgb(var(--color-background));
}

.eye__border {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 4px solid rgb(var(--color-secondary));
  border-radius: 50%;
}

.iris {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: radial-gradient(
    circle,
    rgb(var(--color-on-background)) 0%,
    rgb(var(--color-secondary)) 50%,
    transparent 90%
  );
}
