---
import AppLayout from "../layouts/AppLayout.astro";
import Link from "../components/ui/Link.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import AccentText from "../components/ui/AccentText.astro";
---

<AppLayout locale="en" currentPage="404" showBottomBanner={true}>
  <div class="content">
    <h1 class="title">404</h1>

    <div class="paragraphs">
      <AccentText text="I just came back from tomorrow." accentWords={["tomorrow"]} />
      <AccentText text="You should not be here." accentWords={["should not"]} />
      <AccentText text="Something is missing." accentWords={["missing"]} />
      <AccentText text="The message is out there." accentWords={["message"]} />
    </div>

    <Link href={getRelativeLocaleUrl("en", "/")}>
      Futuriza Me
    </Link>
  </div>
</AppLayout>

<style>
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
    height: 100%;
  }
  .title {
    font-size: 64px;
    font-weight: 700;
  }

  .paragraphs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
</style>
