---
import LanguageSwitcher from "./ui/LanguageSwitcher.astro";
import Link from "./ui/Link.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getTranslator } from "../i18n";

interface Props {
  locale: string;
  currentPage: string;
}

const { locale, currentPage } = Astro.props;

const t = getTranslator(locale);

const runningWord = t("header", "running");
---

<header>
  <div class="top-bar">
    <div class="top-bar__box"></div>
  </div>

  <div class="header-content">
    <p>
      &gt;&gt; <span id="r-word">{runningWord}</span><span id="r-cursor" class="flicker">_</span>
    </p>

    <div class="running-bar">
      <Link href={getRelativeLocaleUrl(locale, t("routes", "home"))}>Futuriza Me</Link>
      <LanguageSwitcher locale={locale} currentPage={currentPage} />
    </div>
  </div>
</header>

<style>
  .top-bar {
    height: 28px;
    border-bottom: 2px solid;
    padding: 8px 0;
    overflow: clip;
  }

  .top-bar__box {
    height: 100%;
    background: var(--color-on-background);
    width: 100px;
    animation: slider 1s linear infinite;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    padding-left: 16px;
    padding-right: 16px;
  }

  div.running-bar {
    display: flex;
    gap: 8px;
  }

  .flicker {
    animation: flicker 1s infinite linear;
  }

  @media (min-width: 768px) {
    .top-bar__box {
      width: 200px;
      animation-duration: 2s;
    }
  }

  @keyframes slider {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100vw);
    }
  }

  @keyframes flicker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>

<script is:inline define:vars={{ runningWord }}>
  const WORD = runningWord;
  const CURSOR = "_";

  const wordEle = document.getElementById("r-word");
  const cursorEle = document.getElementById("r-cursor");

  const initTypingAnimation = () => {
    cursorEle.textContent = "";
    cursorEle.className = "";

    let tempWord = "";
    wordEle.textContent = CURSOR;

    const intervalId = setInterval(() => {
      if (tempWord === WORD) {
        clearInterval(intervalId);
        wordEle.textContent = WORD;
        cursorEle.textContent = CURSOR;
        cursorEle.className = "flicker";
        return;
      }

      tempWord += WORD[tempWord.length];
      wordEle.textContent = tempWord + CURSOR;
    }, 250);
  };

  setTimeout(() => {
    initTypingAnimation();
    setInterval(initTypingAnimation, 6000);
  }, 1000);
</script>
