<div class="content-wrapper">
  <div class="content">
    <slot />
  </div>
</div>

<style>
  .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .content {
    width: 100%;
    max-width: 1080px;
    padding: 0 16px;
  }
</style>
